@import "tailwindcss";
@import "./scrollbar.css";

@custom-variant dark (&:where(.dark, .dark *));

/* Theme customization */
@theme inline {
  --font-sans: var(--font-rubik);
  --font-mono: var(--font-berkeley-mono);

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}
