[data-rehype-pretty-code-title] {
  @apply mt-4 py-2 px-4 text-sm font-medium font-mono;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
}
 
pre [data-line] {
  padding: 0 1rem;
}

[data-rehype-pretty-code-figure] {
  @apply my-8;
} 

[data-rehype-pretty-code-figure] code,
[data-rehype-pretty-code-figure] code span {
  @apply text-sm;
  color: var(--shiki-light);
}

[data-rehype-pretty-code-figure] pre,
[data-rehype-pretty-code-figure] code {
  background-color: var(--shiki-light-bg);
  font-variant-ligatures: none;
}

[data-rehype-pretty-code-figure] code span {
  @apply bg-transparent;
}

.dark [data-rehype-pretty-code-figure] code,
.dark [data-rehype-pretty-code-figure] code span {
  color: var(--shiki-dark);
}

.dark [data-rehype-pretty-code-figure] pre,
.dark [data-rehype-pretty-code-figure] code {
  background-color: var(--shiki-dark-bg);
}

[data-highlighted-chars] {
  @apply bg-transparent rounded;
  box-shadow: 0 0 0 0.2rem rgb(212 212 216);
}

mark[data-highlighted-chars] span {
  @apply rounded;
  background-color: rgb(212 212 216);
}

.dark [data-highlighted-chars] {
  @apply bg-transparent rounded;
  box-shadow: 0 0 0 0.2rem rgb(63 63 70);
}

.dark mark[data-highlighted-chars] span {
  @apply rounded;
  background-color: rgb(63 63 70);
}

code {
  counter-reset: line;
}

pre code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  @apply text-zinc-300 dark:text-zinc-700;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}
